.main-div
{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  
  .content pre
  {
    text-align: initial;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  input[type="file"] {
    display: none;
  }
  
.upload-label {
  background-color: #007BFF;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .question-inputs input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .question-inputs button {
    display: block;
    width: 100%;
  }
  

  .question-card h4 {
    font-size: 18px;
    margin: 0;
  }
  
  .question-card p {
    margin: 5px 0;
  }
  .content {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 1.3rem;
  }
